* { box-sizing: border-box; }
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
#reverie {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
}
#terminal {
  position: absolute;
  left: 0; bottom: 0;

  display: block;
  padding: 3px;
  width: 100%;
  font: inherit;
  color: #fafafa;
  outline: none;
  background-color: rgba(255,255,255,.05);
  border: none;
}
tile {
  display: inline-block;
}
tile[value="false"] {
  background-color: #222;
}
tile[value="true"] {
  background-color: #fff;
}
